<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="Name">Ime</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.ime" type="text" class="form-control" id="ime" placeholder="Enter ime">
    </div>
    <div class="form-group">
        <label for="LastName">Prezime</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.prezime" type="text" class="form-control" id="prezime" placeholder="Enter prezime">
      </div>
    <button type="submit" (click)="editClan()" class="btn btn-primary">Izmena</button>
</form>