<router-outlet></router-outlet>
<a href="http://localhost:4200/clan"> Clanovi </a>
<a href="http://localhost:4200/knjiga"> Knjige </a>
<a href="http://localhost:4200/iznajmljivanje"> Iznajmljlivanja </a>