<table class="table">
    <thead>
        <tr>
            <th scope="col">Knjiga</th>
            <th scope="col">Clan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let iznajmljivanje of iznajmljivanja; index as i">
            <td>
                {{getKnjiga(iznajmljivanje.knjigaId)}}
            </td>
            <td>
                {{getClan(iznajmljivanje.clanId)}}
            </td>
            <td>
                <button type="button" (click)="iznajmljivanjeDetails(iznajmljivanje)" class="btn btn-warning">Detials</button>
            </td>
            <td>
                <button type="button" (click)="deleteIznajmljivanje(iznajmljivanje.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Izaberite knjigu</label>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="izabranaKnjiga" class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let knjiga of knjige" [ngValue]="knjiga">{{knjiga.naslov}}</option>
        </select>
    </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Select person</label>
    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="izabranClan" class="form-control" id="exampleFormControlSelect2">
        <option *ngFor="let clan of clanovi" [ngValue]="clan">{{clan.ime}} {{clan.prezime}}</option>
    </select>
    </div>

    <div class="form-group">
      <label for="datumVracanja">Datum vracanja</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.datumVracanja" type="date" class="form-control" id="date" >
    </div>
    <div class="form-group">
        <label for="datumIznajmljivanja">Datum iznajmljivanja</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.datumIznajmljivanja" type="date" class="form-control" id="date2">
      </div>
    <button type="submit" (click)="addIznajmljivanje()" class="btn btn-primary">Submit</button>
</form>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Brzo iznajmljivanje, ISBN:</label>
      <input [ngModelOptions]="{standalone: true}" (ngModel)="isbn" type="text" class="form-control" id="id" aria-describedby="id" placeholder="Enter isbn">
    </div>
    <button type="submit" (click)="brzoIznajmljivanje()" class="btn btn-primary">Brzo iznajmljivanje</button>
</form>

<p>{{response}}</p>