<table class="table">
    <thead>
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Detalji</th>
            <th scope="col">Brisanje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clan of clanovi; index as i">
            <td>
                {{clan.ime}}
            </td>
            <td>
                {{clan.prezime}}
            </td>
            <td>
                <button type="button" (click)="clanDetails(clan)" class="btn btn-warning">Detials</button>
            </td>
            <td>
                <button type="button" (click)="deleteClan(clan.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="Name">Ime</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.ime" type="text" class="form-control" id="ime" placeholder="Enter ime">
    </div>
    <div class="form-group">
        <label for="LastName">Prezime</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="clan.prezime" type="text" class="form-control" id="prezime" placeholder="Enter prezime">
      </div>
    <button type="submit" (click)="addClan()" class="btn btn-primary">Submit</button>
</form>
