<table class="table">
    <thead>
        <tr>
            <th scope="col">Autor</th>
            <th scope="col">Naslov</th>
            <th scope="col">Detalji</th>
            <th scope="col">Brisanje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let knjiga of knjige; index as i">
            <td>
                {{knjiga.autor}}
            </td>
            <td>
                {{knjiga.naslov}}
            </td>
            <td>
                <button type="button" (click)="knjigaDetails(knjiga)" class="btn btn-warning">Detials</button>
            </td>
            <td>
                <button type="button" (click)="deleteKnjiga(knjiga.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="Naslov">Naslov</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.naslov" type="text" class="form-control" id="naslov" placeholder="Enter naslov">
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.autor" type="text" class="form-control" id="autor" placeholder="Enter autor">
      </div>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.isbn" type="text" class="form-control" id="isbn" placeholder="Enter isbn">
      </div>
    <button type="submit" (click)="addKnjiga()" class="btn btn-primary">Submit</button>
</form>
