<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="Naslov">Naslov</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.naslov" type="text" class="form-control" id="naslov" placeholder="Enter naslov">
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.autor" type="text" class="form-control" id="autor" placeholder="Enter autor">
      </div>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="knjiga.isbn" type="text" class="form-control" id="isbn" placeholder="Enter isbn">
      </div>
    <button type="submit" (click)="editKnjiga()" class="btn btn-primary">Izmena</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Knjiga</th>
            <th scope="col">Clan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let iznajmljivanje of iznajmljivanja; index as i">
            <td>
                {{knjiga.naslov}}
            </td>
            <td>
                {{getClan(iznajmljivanje.clanId)}}
            </td>
        </tr>
    </tbody>
    <!-- <a href="">Link to something</a> -->
</table>