<form>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.id" type="number" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Izaberite knjigu</label>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="izabranaKnjiga" class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let knjiga of knjige" [ngValue]="knjiga">{{knjiga.naslov}}</option>
        </select>
    </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Select person</label>
    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="izabranClan" class="form-control" id="exampleFormControlSelect2">
        <option *ngFor="let clan of clanovi" [ngValue]="clan">{{clan.ime}} {{clan.prezime}}</option>
    </select>
    </div>

    <div class="form-group">
      <label for="datumVracanja">Datum vracanja</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.datumVracanja" type="date" class="form-control" id="date" >
    </div>
    <div class="form-group">
        <label for="datumIznajmljivanja">Datum iznajmljivanja</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="iznajmljivanje.datumIznajmljivanja" type="date" class="form-control" id="date2">
      </div>
    <button type="submit" (click)="editIznajmljivanje()" class="btn btn-primary">Izmena</button>
</form>
